In [1]:
import pandas as pd
import numpy as np

## Apply
Me permite aplicar una función a una columna o conjunto de columnas del dataframe, es una solución mas veloz y eficiente que cualquier ciclo

In [2]:
def two_times(value):
    return value * 2

In [6]:
df=pd.read_csv("countries_gdp_hist.csv",";")
df.head(3)

/tmp/ipykernel_1421/3879073263.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df=pd.read_csv("countries_gdp_hist.csv",";")

,country_code,region_name,sub_region_name,intermediate_region,country_name,income_group,year,total_gdp,total_gdp_million,gdp_variation
0,ABW,Americas,Latin America and the Caribbean,Caribbean,Aruba,Ingreso alto,1960,0.0,0.0,0.0
1,ABW,Americas,Latin America and the Caribbean,Caribbean,Aruba,Ingreso alto,1961,0.0,0.0,0.0
2,ABW,Americas,Latin America and the Caribbean,Caribbean,Aruba,Ingreso alto,1962,0.0,0.0,0.0

In [8]:
df["total_gdp_new"]=df["total_gdp"].apply(two_times)

In [9]:
df.tail(5)

,country_code,region_name,sub_region_name,intermediate_region,country_name,income_group,year,total_gdp,total_gdp_million,gdp_variation,total_gdp_new
13325,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2017,1.758489e+10,17584.890937,4.080264,3.516978e+10
13326,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2018,3.415607e+10,34156.069918,5.009867,6.831214e+10
13327,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2019,2.183223e+10,21832.234926,-6.332446,4.366447e+10
13328,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2020,2.150970e+10,21509.698406,-7.816951,4.301940e+10
13329,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2021,2.837124e+10,28371.238666,8.468017,5.674248e+10

In [11]:
#Tambien funciona con funciones tipo lamba
df["total_gdp"].apply(lambda x:x["total_gdp"]*2 if x["region_name"]=="Africa" else x["total_gdp"])

TypeError: 'float' object is not subscriptable