In [1]:
import pandas as pd
import numpy as np

In [3]:
#leo el dataframe de datos, específicando el delimitador
df=pd.read_csv("countries_gdp_hist.csv",";")

/tmp/ipykernel_2371/3538657011.py:1: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  df=pd.read_csv("countries_gdp_hist.csv",";")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13330 entries, 0 to 13329
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   country_code         13330 non-null  object
 1   region_name          13330 non-null  object
 2   sub_region_name      13330 non-null  object
 3   intermediate_region  13330 non-null  object
 4   country_name         13330 non-null  object
 5   income_group         13330 non-null  object
 6   year                 13330 non-null  int64
 7   total_gdp            13330 non-null  float64
 8   total_gdp_million    13330 non-null  float64
 9   gdp_variation        13330 non-null  float64
dtypes: float64(3), int64(1), object(6)
memory usage: 1.0+ MB

In [6]:
df.describe()

               year     total_gdp  total_gdp_million  gdp_variation
count  13330.000000  1.333000e+04       1.333000e+04   13330.000000
mean    1990.500000  1.429386e+11       1.429386e+05       2.688196
std       17.896201  8.769979e+11       8.769979e+05       5.675320
min     1960.000000  0.000000e+00       0.000000e+00     -64.047107
25%     1975.000000  1.152238e+08       1.152238e+02       0.000000
50%     1990.500000  3.189443e+09       3.189443e+03       2.024117
75%     2006.000000  2.746324e+10       2.746324e+04       5.271668
max     2021.000000  2.331508e+13       2.331508e+07     149.972963

In [7]:
df["region_name"].value_counts()

Africa      3348
Asia        3100
Americas    2852
Europe      2852
Oceania     1178
Name: region_name, dtype: int64

In [13]:
info_year=df["year"].value_counts().sort_values()
print(info_year)
print(info_year.shape)

1960    215
1989    215
1962    215
1963    215
1964    215
       ...
2017    215
2018    215
2019    215
2007    215
2021    215
Name: year, Length: 62, dtype: int64
(62,)

Por tanto ya se que tengo información de 62 años distintos, desde 1960 hasta 2021

In [14]:
df

,country_code,region_name,sub_region_name,intermediate_region,country_name,income_group,year,total_gdp,total_gdp_million,gdp_variation
0,ABW,Americas,Latin America and the Caribbean,Caribbean,Aruba,Ingreso alto,1960,0.000000e+00,0.000000,0.000000
1,ABW,Americas,Latin America and the Caribbean,Caribbean,Aruba,Ingreso alto,1961,0.000000e+00,0.000000,0.000000
2,ABW,Americas,Latin America and the Caribbean,Caribbean,Aruba,Ingreso alto,1962,0.000000e+00,0.000000,0.000000
3,ABW,Americas,Latin America and the Caribbean,Caribbean,Aruba,Ingreso alto,1963,0.000000e+00,0.000000,0.000000
4,ABW,Americas,Latin America and the Caribbean,Caribbean,Aruba,Ingreso alto,1964,0.000000e+00,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
13325,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2017,1.758489e+10,17584.890937,4.080264
13326,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2018,3.415607e+10,34156.069918,5.009867
13327,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2019,2.183223e+10,21832.234926,-6.332446
13328,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2020,2.150970e+10,21509.698406,-7.816951
13329,ZWE,Africa,Sub-Saharan Africa,Eastern Africa,Zimbabwe,Países de ingreso mediano bajo,2021,2.837124e+10,28371.238666,8.468017

In [17]:
df.groupby("country_code")